# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.env
env/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Editor
.vscode/
.idea/
*.swp

# Build
dist/
build/
*.egg-info/
src/*.egg-info/

# Temporary / Run files
data/my_learner.json
data/my_log.json
dummy_activities.json
out1.txt
out2.txt
